* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.whiteShadow:hover {
  box-shadow: 0.25rem 0.25rem 0 rgba(221, 221, 221, 1);
}

.whiteShadow:active {
  box-shadow: 0;
}

.whiteShadowAnimate:hover {
  transform: translate(-0.25rem, -0.25rem);
}
