* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #242423;
}

.priceBox {
  display: inline-block;
  clip-path: polygon(100% 0, 75% 50%, 100% 100%, 0 100%, 0 0);
  background: red;
}

.spinner_container {
  display: flex;
  align-items: center;
  background-color: black;
}

.spinner {
  border: 6px solid rgba(221, 221, 221.35);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.whiteShadow {
  transition: background-color 0.3s ease-in-out, transform 0.4s ease-in-out;
}

.whiteShadow:hover {
  box-shadow: 0.25rem 0.25rem 0 rgba(221, 221, 221, 1);
}

.whiteShadow:active {
  box-shadow: 0;
}

.whiteShadowAnimate:hover {
  transform: translate(-0.25rem, -0.25rem);
  animation-delay: 24s;
}

.active {
  opacity: 1 !important;
  transition: 0.5s cubic-bezier(0.45, 0.85, 0.5, 1);
}

.activeli {
  background: white;
  color: black;
}
